$krasivo: #b4b4b4;

.dropbtn {
  background-color: #c9c9c9;
  color: rgb(15, 15, 15);
  padding: 16px;
  border: none;
  border-radius: 30px;
  font: {
      family: "Merriweather", serif;
      optical-sizing: auto;
      weight: weight;
      style: normal;
      size: 16px;
    }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8d8c8c;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #ffffff;
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    display: block;
  }

  .dropbtn {
    background-color: #8185a0;
  }
}

.cap {
  display: flex;
  background-color: #464646;
  justify-content: space-around;
  align-items: center;

  img {
    width: 60%;
  }
}

.hello {
  text-align: center;
  padding: 40px;
  p {
    text-align: justify;
    color: #acacac;
    font: {
      family: "Merriweather", serif;
      optical-sizing: auto;
      weight: weight;
      style: normal;
      size: 20px;
    }
  }

  h1 {
    font: {
      family: "Merriweather", serif;
      optical-sizing: auto;
      weight: weight;
      style: normal;
      size: 40px;
    }
  }
}

h1 {
  color: $krasivo;

  &::after {
    content: "";
  }
}

.full {
  background-color: #000000;
}

.two {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    font: {
      family: "Merriweather", serif;
      optical-sizing: auto;
      weight: weight;
      style: normal;
      size: 40px;
    }
  }

  video {
    max-width: 45%;
    height: auto;
  }
}

.twovideo {
  padding-left: 100px;
}

.three {
  h1 {
    display: flex;
    padding-top: 20px;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    font: {
      family: "Merriweather", serif;
      optical-sizing: auto;
      weight: weight;
      style: normal;
    }
  }
}

.three-person {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;

  .person {
    display: flex;
    color: $krasivo;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #adadad;
    border-radius: 10px;
    background-color: rgb(85, 85, 85);
    text-align: center;
    opacity: 0;
    animation: fadeInOnScroll 0.8s ease-out forwards;
    animation-timeline: view();
    animation-range-start: entry 10%;
    animation-range-end: cover 30%;

    img {
      width: 80%;
      height: 35%;
      margin-bottom: 15px;
      border-radius: 15px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;

      h2 {
        padding-bottom: 15px;
      }

      p {
        font-size: 22px;
      }
    }
  }
}

@keyframes fadeInOnScroll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Glav {
  font-size: 18px;

  a {
    color: $krasivo;
    text-decoration: none;
    font: {
      family: "Merriweather", serif;
      optical-sizing: auto;
      weight: weight;
      style: normal;
    }
  }

  &:hover {
    color: #d4d4d4;
    text-decoration: underline;
  }
}

.my {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  
  img {
    max-width: 80%;
    height: auto;
    border-radius: 20px;
  }
}

.my1 {
  h1, h3{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    color: $krasivo;
    font: {
      family: "Merriweather", serif;
      optical-sizing: auto;
      weight: weight;
      style: normal;
    }
  }
}

.hello2 {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  p {
    text-align: justify;
    color: #acacac;
    font: {
      family: "Merriweather", serif;
      optical-sizing: auto;
      weight: weight;
      style: normal;
      size: 20px;
    }
  }
  h1 {
    font: {
      family: "Merriweather", serif;
      optical-sizing: auto;
      weight: weight;
      style: normal;
      size: 25px;
    }
  }
  h3 {
    text-align: justify;
    color: #acacac;
    font: {
      family: "Merriweather", serif;
      optical-sizing: auto;
      weight: weight;
      style: normal;
      size: 22px;
    }
  }
}

.my2 {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  
  img {
    border-radius: 40px;
    width: 300px;
    padding: 32px;
    opacity: 0;
    animation: fadeInOnScroll 0.8s ease-out forwards;
    animation-timeline: view();
    animation-range-start: entry 10%;
    animation-range-end: cover 30%;
  }
}

@keyframes fadeInOnScroll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}